@model src.RealEstate.Admin.Models.Estate.EstateNewViewModel
@using System.Globalization
@using Microsoft.EntityFrameworkCore
@using src.RealEstate.Common.Enum
@using src.RealEstate.Service.Contracts
@inject IProvinceService _provinceService
@inject IEstateTypeService _estateTypeService
@inject IBuildingTypeService _buildingTypeService
@inject ITitleDeedStatusService _titleDeedStatusService

@{
    ViewData["Title"] = "Yeni İlan";

    var cultureInfo = new CultureInfo("tr-TR");
    var provinces = await _provinceService.GetAll(cultureInfo).ToListAsync();
    var estateTypes = await _estateTypeService.GetAll(cultureInfo).ToListAsync();
    var buildingTypes = await _buildingTypeService.GetAll(cultureInfo).ToListAsync();
    var titleDeedStatuses = await _titleDeedStatusService.GetAll(cultureInfo).ToListAsync();
}

<h4 class="font-weight-bold py-3 mb-4">Yeni İlan</span></h4>
<form asp-controller="Estate" asp-action="New" method="POST" class="estate-form" enctype="multipart/form-data">
    <div class="nav-tabs-top nav-responsive-sm">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#general">Genel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#description">Açıklama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tags">Etiketler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#images">Görseller</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="general">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label asp-for="CustomId" class="form-label"></label>
                            <input asp-for="CustomId" class="form-control">
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="PriceTRY" class="form-label"></label>
                            <input asp-for="PriceTRY" class="form-control">
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="M2Brut" class="form-label"></label>
                            <input asp-for="M2Brut" class="form-control">
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="M2Net" class="form-label"></label>
                            <input asp-for="M2Net" class="form-control">
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="RoomCount" class="form-label"></label>
                            <input asp-for="RoomCount" class="form-control">
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="IsActive" class="form-label"></label>
                            <input asp-for="IsActive" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="TitleTR" class="form-label"></label>
                            <input asp-for="TitleTR" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="TitleEN" class="form-label"></label>
                            <input asp-for="TitleEN" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label asp-for="FloorNumber" class="form-label"></label>
                            <input asp-for="FloorNumber" class="form-control">
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="TotalFloor" class="form-label"></label>
                            <input asp-for="TotalFloor" class="form-control">
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="BuildingAge" class="form-label"></label>
                            <input asp-for="BuildingAge" class="form-control">
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="BathroomCount" class="form-label"></label>
                            <input asp-for="BathroomCount" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        @if (provinces.Count > 0)
                        {
                            <div class="form-group col-3">
                                <label asp-for="ProvinceId" class="form-label"></label>
                                <select asp-for="ProvinceId" class="form-control">
                                    <option value="-1">--Seçiniz--</option>
                                    @foreach (var province in provinces)
                                    {
                                        <option value="@province.Id">@province.NameTR</option>
                                    }
                                </select>
                            </div>
                        }
                        <div class="form-group col-3">
                            <label asp-for="DistrictId" class="form-label"></label>
                            <select asp-for="DistrictId" class="form-control" disabled></select>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="AvailableForLoan" class="form-label"></label>
                            <select asp-for="AvailableForLoan" class="form-control"
                                asp-items="@Html.GetEnumSelectList<AvailableForLoan>()"></select>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="AvailableForTrade" class="form-label"></label>
                            <select asp-for="AvailableForTrade" class="form-control"
                                asp-items="@Html.GetEnumSelectList<AvailableForTrade>()"></select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label asp-for="SaleType" class="form-label"></label>
                            <select asp-for="SaleType" class="form-control"
                                asp-items="@Html.GetEnumSelectList<SaleType>()"></select>
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="BuildingStatus" class="form-label"></label>
                            <select asp-for="BuildingStatus" class="form-control"
                                asp-items="@Html.GetEnumSelectList<BuildingStatus>()"></select>
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="FurnitureStatus" class="form-label"></label>
                            <select asp-for="FurnitureStatus" class="form-control"
                                asp-items="@Html.GetEnumSelectList<FurnitureStatus>()"></select>
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="BuildingState" class="form-label"></label>
                            <select asp-for="BuildingState" class="form-control"
                                asp-items="@Html.GetEnumSelectList<BuildingState>()"></select>
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="UsingStatus" class="form-label"></label>
                            <select asp-for="UsingStatus" class="form-control"
                                asp-items="@Html.GetEnumSelectList<UsingStatus>()"></select>
                        </div>
                        <div class="form-group col-2">
                            <label asp-for="Facade" class="form-label"></label>
                            <select asp-for="Facade" class="form-control"
                                asp-items="@Html.GetEnumSelectList<Facade>()"></select>
                        </div>
                    </div>
                    <div class="form-row">
                        @if (estateTypes.Count > 0)
                        {
                            <div class="form-group col-3">
                                <label asp-for="EstateTypeId" class="form-label"></label>
                                <select asp-for="EstateTypeId" class="form-control">
                                    @foreach (var estateType in estateTypes)
                                    {
                                        <option value="@estateType.Id">@estateType.TypeNameTR</option>
                                    }
                                </select>
                            </div>
                        }
                        @if (buildingTypes.Count > 0)
                        {
                            <div class="form-group col-3">
                                <label asp-for="BuildingTypeId" class="form-label"></label>
                                <select asp-for="BuildingTypeId" class="form-control">
                                    @foreach (var buildingType in buildingTypes)
                                    {
                                        <option value="@buildingType.Id">@buildingType.BuildingTypeNameTR</option>
                                    }
                                </select>
                            </div>
                        }
                        @if (titleDeedStatuses.Count > 0)
                        {
                            <div class="form-group col-3">
                                <label asp-for="TitleDeedStatusId" class="form-label"></label>
                                <select asp-for="TitleDeedStatusId" class="form-control">
                                    @foreach (var titleDeedStatus in titleDeedStatuses)
                                    {
                                        <option value="@titleDeedStatus.Id">@titleDeedStatus.StatusNameTR</option>
                                    }
                                </select>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="description">
                <h4>Açıklamalar</h4>
            </div>
            <div class="tab-pane fade" id="tags">
                <h4>Etiketler</h4>
            </div>
            <div class="tab-pane fade" id="images">
                <h4>Görseller</h4>
            </div>
        </div>
    </div>
    <div class="text-right mt-3">
        <a asp-controller="Estate" asp-action="List" class="back-link-right">Listeye Dön</a>
        <button type="submit" class="btn btn-admin-primary">Kaydet</button>
    </div>
</form>