@model System.Collections.Generic.List<src.RealEstate.Admin.Models.TitleDeedStatus.TitleDeedStatusListViewModel>

@{
    ViewData["Title"] = "Tapu Durumları";
}

@if (TempData["SavedSuccessfully"] != null)
{
    <div class="alert alert-success"><b>@TempData["SavedSuccessfully"]</b></div>
}

@if (Model.Count == 0)
{
    <div class="alert alert-warning"><b>Henüz tapu durumu eklemediniz.</b></div>
}
else
{
    <h4 class="font-weight-bold py-3 mb-4">Emlak Türleri</h4>
    <a asp-controller="TitleDeedStatus" asp-action="New" class="btn btn-admin-primary mb-3">
        <i class="fas fa-plus mr-2"></i>Yeni Ekle
    </a>

    <div class="table-responsive">
        <table class="table table-striped table-bordered list-table">
            <thead>
                <tr>
                    <th class="sort-column"></th>
                    <th>Türkçe</th>
                    <th>İngilizce</th>
                    <th class="options-column">Seçenekler</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td class="sort-column">@(i+1)</td>
                        <td>@Model[i].StatusNameTR</td>
                        <td>@Model[i].StatusNameEN</td>
                        <td class="options-column">
                            <a asp-controller="TitleDeedStatus" asp-action="Edit" asp-route-titleDeedStatusId="@Model[i].Id" class="badge badge-info">Düzenle</a>
                            <a href="javascript:void(0)" class="badge badge-danger" onclick="deleteTitleDeedStatusConfirm('@Model[i].Id')">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Styles{
    <link rel="stylesheet" href="/assets/vendor/libs/datatables/datatables.css">
    <link rel="stylesheet" href="/assets/vendor/libs/sweetalert2/sweetalert2.css">
}

@section Scripts{
    <script type="text/javascript" src="/assets/vendor/libs/datatables/datatables.js"></script>
    <script type="text/javascript" src="/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script type="text/javascript" src="/assets/js/dataTables.js"></script>
}